In [1]:
import requests
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy
import csv
import os
import time
from decimal import Decimal
from sqlalchemy.orm import Session, session
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
password = 1234

In [2]:
states = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']
states_abbrev = ['AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']
df_columns = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']

In [3]:
url = "https://api.census.gov/data/2019/acs/flows?get=MOVEDIN,STATE1_NAME,STATE2_NAME,MOVEDOUT,FULL2_NAME,MOVEDNET&for=county:*"

In [4]:
migration_data_2019 = pd.read_json(url)

In [5]:
#migration_data_2019

In [5]:
migration_data_2019.columns = migration_data_2019.iloc[0]
migration_data_2019 = migration_data_2019.drop(index=0)
migration_data_2019

,MOVEDIN,STATE1_NAME,STATE2_NAME,MOVEDOUT,FULL2_NAME,MOVEDNET,state,county
1,66,Alabama,Asia,None,Asia,None,01,001
2,10,Alabama,Europe,None,Europe,None,01,001
3,18,Alabama,U.S. Island Areas,None,U.S. Island Areas,None,01,001
4,25,Alabama,Alabama,448,"Baldwin County, Alabama",-423,01,001
5,4,Alabama,Alabama,0,"Barbour County, Alabama",4,01,001
...,...,...,...,...,...,...,...,...
505932,0,Puerto Rico,New York,69,"Rochester city, Monroe County, New York",-69,72,153
505933,40,Puerto Rico,New York,0,"Manhattan borough, New York County, New York",40,72,153
505934,0,Puerto Rico,Pennsylvania,14,"Upper Macungie township, Lehigh County, Pennsy...",-14,72,153
505935,0,Puerto Rico,Pennsylvania,42,"Hanover borough, York County, Pennsylvania",-42,72,153
505936,39,Puerto Rico,Wisconsin,0,"Waukesha city, Waukesha County, Wisconsin",39,72,153

In [6]:
migration_data_2019.columns  = [i.lower() for i in migration_data_2019.columns]

In [7]:
migration_data_2019

,movedin,state1_name,state2_name,movedout,full2_name,movednet,state,county
1,66,Alabama,Asia,None,Asia,None,01,001
2,10,Alabama,Europe,None,Europe,None,01,001
3,18,Alabama,U.S. Island Areas,None,U.S. Island Areas,None,01,001
4,25,Alabama,Alabama,448,"Baldwin County, Alabama",-423,01,001
5,4,Alabama,Alabama,0,"Barbour County, Alabama",4,01,001
...,...,...,...,...,...,...,...,...
505932,0,Puerto Rico,New York,69,"Rochester city, Monroe County, New York",-69,72,153
505933,40,Puerto Rico,New York,0,"Manhattan borough, New York County, New York",40,72,153
505934,0,Puerto Rico,Pennsylvania,14,"Upper Macungie township, Lehigh County, Pennsy...",-14,72,153
505935,0,Puerto Rico,Pennsylvania,42,"Hanover borough, York County, Pennsylvania",-42,72,153
505936,39,Puerto Rico,Wisconsin,0,"Waukesha city, Waukesha County, Wisconsin",39,72,153

In [8]:
not_states = ["Asia", "Europe", "U.S. Island Areas", "Africa", "Caribbean", "Oceania and At Sea", "Central America","Puerto Rico", "South America", "Northern America"] 
for i in not_states:
    migration_data_2019 = migration_data_2019[migration_data_2019["state2_name"] != i]

In [9]:
migration_data_2019["movedin"] = pd.to_numeric(migration_data_2019["movedin"])
migration_data_2019["movedout"] = pd.to_numeric(migration_data_2019["movedout"])
migration_data_2019["movednet"] = pd.to_numeric(migration_data_2019["movednet"])

In [10]:
connection_string = f"postgres:{password}@localhost:5432/project_3"
engine = create_engine(f'postgresql://{connection_string}')
if not database_exists(engine.url):
    create_database(engine.url)

In [11]:
migration_data_2019.to_sql(name='migration_data_2019', con=engine, if_exists='replace', index=False)

In [12]:
session = Session(engine)
time.sleep(2)

In [13]:
all_data = []
for i in range(len(states)):
    data = session.execute(f"select sum(movedin) from migration_data_2019 where state1_name = '{states[i]}' group by state1_name, state2_name order by state2_name").all()
    data_fixed = []
    for row in data:
        data_fixed.append(list(map(int, list(row))))
    data_fixed = [data_fixed[i][0] for i in range(len(data_fixed))]
    #data_fixed[i] = "NaN"
    all_data.append(data_fixed)

In [87]:
#[data_fixed[i][0] for i in range(len(data_fixed))]

In [14]:
df = pd.DataFrame(data=all_data, index=[states_abbrev, states], columns=df_columns)

In [15]:
for i in range(len(states)):
    df.iloc[i,i] = "N/A"

In [16]:
df

,,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
AL,Alabama,N/A,658,1496,897,3760,1984,1354,228,229,15510,...,84,9062,7611,748,72,3663,1315,396,1702,140.0
AK,Alaska,578,N/A,1016,185,3032,1396,98,81,38,1373,...,281,280,2431,694,98,764,2974,60,1124,240.0
AZ,Arizona,1505,2313,N/A,1135,61262,12372,2726,518,305,7825,...,1490,2136,15342,8736,928,5019,15723,412,11228,1135.0
AR,Arkansas,1103,246,972,N/A,4605,2574,206,35,91,2314,...,75,4749,15287,639,18,1152,1034,88,1514,386.0
CA,California,4004,3986,31489,3276,N/A,20369,10100,1117,4835,23312,...,1190,6214,39343,9146,1634,17578,32640,748,13374,1706.0
CO,Colorado,3113,1763,9771,1318,28742,N/A,3566,193,907,13193,...,1438,3088,25209,3564,1380,6983,6417,480,8586,3646.0
CT,Connecticut,541,257,453,211,4043,763,N/A,385,438,5806,...,137,567,2905,293,466,2136,707,168,221,47.0
DE,Delaware,210,155,127,0,529,152,1074,N/A,251,1116,...,4,157,745,42,240,1420,157,186,118,0.0
DC,District of Columbia,356,123,407,62,3663,680,2162,231,N/A,1101,...,797,1750,237,282,8598,391,260,510,15,NaN
FL,Florida,12391,1990,7312,3876,27384,11850,29220,3056,1498,N/A,...,1191,15782,29051,3620,4372,27785,6952,3313,17044,519.0
GA,Georgia,15525,1140,3135,2097,15226,3715,7584,781,929,46596,...,263,17387,19989,1358,542,11605,3197,874,5832,700.0
HI,Hawaii,660,601,1698,118,10805,1998,756,30,346,2394,...,22,713,3274,932,36,3040,3837,57,246,45.0
ID,Idaho,116,1060,3544,576,18365,2950,664,37,0,1380,...,126,446,2921,7440,202,892,10329,172,426,1800.0
IL,Illinois,1796,524,5239,1652,16294,3742,3538,125,1034,12452,...,434,5453,11523,1159,472,5623,3799,595,25996,278.0
IN,Indiana,1267,205,2537,979,7331,2342,1934,239,98,9233,...,189,4109,7102,656,332,2437,1798,312,5830,204.0
IA,Iowa,322,530,2150,640,3747,3479,202,18,116,3238,...,2011,1140,3415,345,146,857,1459,192,7526,220.0
KS,Kansas,649,284,2164,1440,5531,5583,506,132,127,3378,...,419,1329,8490,904,24,1588,1551,85,734,355.0
KY,Kentucky,2302,338,989,486,4253,1681,850,264,105,8286,...,103,11643,5612,790,64,3172,1300,2816,2552,146.0
LA,Louisiana,3019,446,568,2256,5137,1810,594,6,129,4611,...,102,1967,19554,379,78,1825,1162,257,904,103.0
ME,Maine,183,138,344,42,1346,704,1850,129,149,2681,...,20,327,1135,265,665,763,583,39,193,79.0
MD,Maryland,1184,329,2103,369,8683,2043,3420,6028,20581,10486,...,74,1325,5552,930,540,24373,1758,3976,2466,81.0
MA,Massachusetts,521,379,1599,236,12059,1949,10747,816,1479,10686,...,46,1216,4543,813,2549,3614,1943,184,901,52.0
MI,Michigan,1820,688,4070,813,9600,2544,1203,135,384,12722,...,270,4477,8387,722,191,3254,1988,527,4326,532.0
MN,Minnesota,425,563,2920,472,5891,3431,554,64,274,3952,...,4961,1523,5087,804,50,1692,3829,61,18372,487.0
MS,Mississippi,6243,122,588,2189,3505,636,134,21,42,4654,...,0,10020,6047,175,4,1192,991,590,1814,122.0
MO,Missouri,2084,1133,2863,7543,8978,5113,890,256,257,6619,...,704,2892,11412,1353,644,2815,2697,393,4768,417.0
MT,Montana,274,889,1266,340,4847,2937,378,0,13,1190,...,311,167,2460,1542,128,424,4868,70,944,2159.0
NE,Nebraska,309,210,1497,457,3448,4216,710,20,24,1926,...,2323,602,4440,956,14,897,521,79,1256,888.0
NV,Nevada,707,1071,6793,323,48530,4039,1614,145,101,5288,...,443,979,5018,5385,112,1541,5629,117,1686,775.0
NH,New Hampshire,193,215,638,169,1621,671,2232,100,257,2409,...,49,241,1191,181,2433,781,244,126,196,0.0
NJ,New Jersey,184,420,1089,118,7771,1495,3749,1666,817,10403,...,71,786,5301,173,191,3879,1005,399,481,56.0
NM,New Mexico,526,899,5642,301,6121,5101,334,95,67,1839,...,39,832,15367,865,106,1268,1647,72,596,614.0
NY,New York,1021,682,4279,786,24449,3725,14737,1151,3842,24288,...,199,3627,11908,867,3315,10005,3916,908,1893,118.0
NC,North Carolina,3744,1393,4948,1094,18699,4720,11954,1770,2273,32304,...,635,8574,15217,1143,1476,30852,4658,3478,4166,443.0
ND,North Dakota,47,147,816,233,2211,738,120,31,4,941,...,2004,554,2326,277,0,209,1156,61,1294,458.0
OH,Ohio,2178,633,3072,936,10819,3251,4532,399,867,14665,...,206,5648,10934,1979,586,6459,2752,7821,4868,185.0
OK,Oklahoma,568,579,2574,7642,8482,4947,392,166,127,4116,...,273,1553,29345,846,274,1521,1770,200,1212,340.0
OR,Oregon,304,2240,6653,615,42460,3707,1006,180,342,3507,...,337,1013,5425,2960,694,2287,23944,130,1740,771.0
PA,Pennsylvania,1613,587,2945,751,11018,3062,4905,6631,1834,16049,...,408,2555,9448,1457,1123,10837,2558,4677,1933,196.0
RI,Rhode Island,85,38,347,59,2075,349,3823,9,49,2857,...,23,425,1166,220,176,969,568,23,147,0.0
SC,South Carolina,2317,398,1619,759,7235,1803,8106,510,631,14872,...,271,5044,7873,871,498,8458,1909,1993,2888,147.0
SD,South Dakota,127,140,579,153,2645,1101,10,0,0,692,...,N/A,338,1084,464,0,251,427,11,1278,1132.0
TN,Tennessee,8366,926,2067,5597,9893,2685,3010,431,266,19587,...,622,N/A,12576,1027,612,8456,2592,1267,2866,208.0
TX,Texas,8168,3147,18929,13548,73914,21111,5406,1400,1257,35709,...,1524,12343,N/A,7811,1096,18032,13650,1415,10928,1534.0
UT,Utah,511,1094,7616,667,18513,4681,1612,86,280,2410,...,390,1186,6637,N/A,298,1755,5757,181,1964,1754.0
VT,Vermont,71,142,134,0,1042,471,1256,17,217,1044,...,131,199,401,184,N/A,443,303,23,59,118.0
VA,Virginia,2954,1148,2729,926,18867,4086,7264,1363,10194,20507,...,198,6545,15759,1833,1848,N/A,5164,5516,2828,171.0
WA,Washington,997,5034,11956,941,49860,9053,3090,274,1192,9186,...,486,2613,15751,6168,914,6233,N/A,477,4664,790.0
WV,West Virginia,237,73,159,123,773,583,814,244,354,2549,...,35,1289,1160,191,52,6135,277,N/A,412,0.0
WI,Wisconsin,598,423,2408,589,5604,2848,665,192,281,4540,...,472,1553,4711,1247,69,1570,1891,257,N/A,439.0
WY,Wyoming,471,271,672,252,2315,4951,176,59,7,426,...,743,135,2047,1798,4,444,923,103,448,N/A

In [17]:
df.reset_index(inplace=True)

In [18]:
df = df.rename(columns={'level_0':'abbrev', 'level_1':'state'})

In [19]:
df = df.set_index(['abbrev','state'])

In [20]:
coming_df = df

In [21]:
csv = df.to_csv()

In [22]:
csv

'abbrev,state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,Iowa,Kansas,Kentucky,Louisiana,Maine,Maryland,Massachusetts,Michigan,Minnesota,Mississippi,Missouri,Montana,Nebraska,Nevada,New Hampshire,New Jersey,New Mexico,New York,North Carolina,North Dakota,Ohio,Oklahoma,Oregon,Pennsylvania,Rhode Island,South Carolina,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming\nAL,Alabama,N/A,658,1496,897,3760,1984,1354,228,229,15510,21684,896,64,2609,1981,587,993,2031,2432,144,1009,1312,4342,770,6978,1349,241,345,652,208,1598,527,4984,4061,396,1874,813,382,3668,518,2195,84,9062,7611,748,72,3663,1315,396,1702,140.0\nAK,Alaska,578,N/A,1016,185,3032,1396,98,81,38,1373,994,576,650,844,113,186,793,429,339,232,323,488,1102,1064,117,594,460,184,1270,186,454,478,1438,1555,116,216,476,1285,802,140,381,281,280,2431,694,98,764,2974,60,1124,240.0\nAZ,Arizona,1505,2313,N/A,1135,61262,12372,2726,518,305,7825,4080,2419,3071,11995,3673,3431,3404,1562,1540,750,1996,5596,13072,13062,844,4008,2086,1593,7581,1226,7120,7484,10194,4876,1810,4704,4076,9471,9454,464,1234,1490,2136,15342,8736,928,5019,15723,412,11228,1135.0\nAR,Arkansas,1103,246,972,N/A,4605,2574,206,35,91,2314,1790,185,180,2571,1009,528,1315,746,3187,88,561,430,1960,1228,3071,6714,259,470,564,110,628,297,748,1424,112,571,6500,375,2002,0,313,75,4749,15287,639,18,1152,1034,88,1514,386.0\nCA,California,4004,3986,31489,3276,N/A,20369,10100,1117,4835,23312,12759,12333,4977,24170,6244,2792,4193,3184,5150,5122,11564,30720,20154,14928,2725,7706,2023,2948,24350,2248,24750,5115,72082,13196,1694,11441,5555,19943,26988,4090,5450,1190,6214,39343,9146,1634,17578,32640,748,13374,1706.0\nCO,Colorado,3113,1763,9771,1318,28742,N/A,3566,193,907,13193,6134,3332,1630,10011,2707,2722,5978,2210,2718,1120,3263,6226,7016,9572,860,5517,1580,4340,3877,1556,6664,6531,14726,5266,1435,4013,4646,3927,8928,1164,2005,1438,3088,25209,3564,1380,6983,6417,480,8586,3646.0\nCT,Connecticut,541,257,453,211,4043,763,N/A,385,438,5806,1533,568,13,1500,468,185,112,185,400,984,1396,10234,636,438,23,546,7,66,108,850,4676,294,25236,1765,55,1365,221,436,3126,2828,1042,137,567,2905,293,466,2136,707,168,221,47.0\nDE,Delaware,210,155,127,0,529,152,1074,N/A,251,1116,213,42,6,563,77,64,91,53,111,254,7783,1008,270,64,68,94,43,65,47,140,10522,174,6074,849,140,155,215,61,22134,180,347,4,157,745,42,240,1420,157,186,118,0.0\nDC,District of Columbia,356,123,407,62,3663,680,2162,231,N/A,1101,59,36,1589,570,124,22,213,284,432,13611,4588,1530,704,199,415,27,196,142,174,4376,91,9114,1384,23,1017,103,98,3890,400,647,33,797,1750,237,282,8598,391,260,510,15,\nFL,Florida,12391,1990,7312,3876,27384,11850,29220,3056,1498,N/A,40412,2635,1115,26387,13469,4192,2725,10617,5849,7476,16635,36674,43448,13706,4723,10370,852,2095,4740,9766,60288,2918,125824,25802,1168,25842,3959,2724,61052,7078,12975,1191,15782,29051,3620,4372,27785,6952,3313,17044,519.0\nGA,Georgia,15525,1140,3135,2097,15226,3715,7584,781,929,46596,N/A,1588,706,10079,3358,1860,3094,3872,4418,826,4380,6068,10260,4250,4709,4131,375,1323,1274,1198,15352,1236,32230,15775,160,7972,2063,1125,13696,906,15568,263,17387,19989,1358,542,11605,3197,874,5832,700.0\nHI,Hawaii,660,601,1698,118,10805,1998,756,30,346,2394,2127,N/A,533,1262,535,378,799,327,339,162,637,1270,652,836,152,701,234,287,1475,46,704,397,3288,1770,73,819,432,1441,1566,394,1065,22,713,3274,932,36,3040,3837,57,246,45.0\nID,Idaho,116,1060,3544,576,18365,2950,664,37,0,1380,556,546,N/A,521,262,170,397,353,313,360,246,440,704,838,94,924,1859,156,2581,80,106,577,2026,1181,706,294,695,5118,1340,0,158,126,446,2921,7440,202,892,10329,172,426,1800.0\nIL,Illinois,1796,524,5239,1652,16294,3742,3538,125,1034,12452,4857,733,644,N/A,15400,9204,1783,3291,1426,560,2894,7526,20328,9162,1885,15273,310,1607,2073,748,6056,710,15038,4268,475,8118,1549,1322,8622,638,1868,434,5453,11523,1159,472,5623,3799,595,25996,278.0\nIN,Indiana,1267,205,2537,979,7331,2342,1934,239,98,9233,3663,660,478,31871,N/A,1233,1262,10847,773,674,1075,1836,18348,3156,879,2736,469,329,1690,374,5372,651,5344,4324,354,12426,1110,854,5818,92,1524,189,4109,7102,656,332,2437,1798,312,5830,204.0\nIA,Iowa,322,530,2150,640,3747,3479,202,18,116,3238,1114,278,720,14734,1362,N/A,1927,502,511,286,608,672,1682,13730,472,4355,339,7547,671,172,788,308,986,1118,472,1260,688,394,1160,168,389,2011,1140,3415,345,146,857,1459,192,7526,220.0\nKS,Kansas,649,284,2164,1440,5531,5583,506,132,127,3378,2208,345,137,2693,1098,2481,N/A,919,775,78,642,1546,1798,2064,263,23636,517,2801,430,268,1202,764,3624,1588,186,1367,5833,506,1832,86,323,419,1329,8490,904,24,1588,1551,85,734,355.0\nKY,Kentucky,2302,338,989,486,4253,1681,850,264,105,8286,4028,380,425,5274,10871,823,1434,N/A,843,896,1530,1506,5830,1020,685,2214,65,416,387,388,920,702,5970,3425,98,14991,783,679,4740,130,1432,103,11643,5612,790,64,3172,1300,2816,2552,146.0\nLA,Louisiana,3019,446,568,2256,5137,1810,594,6,129,4611,3769,520,181,2229,531,499,771,1182,N/A,56,661,988,3374,528,8373,819,294,168,783,444,1632,529,4588,2086,120,1155,1274,320,2044,176,1203,102,1967,19554,379,78,1825,1162,257,904,103.0\nME,Maine,183,138,344,42,1346,704,1850,129,149,2681,340,317,176,270,173,252,80,279,377,N/A,338,6072,446,128,58,399,157,77,28,4872,912,103,2411,1318,79,477,118,258,1238,641,340,20,327,1135,265,665,763,583,39,193,79.0\nMD,Maryland,1184,329,2103,369,8683,2043,3420,6028,20581,10486,4846,1915,190,1958,1298,395,434,593,655,658,N/A,5032,3278,1228,760,631,104,412,691,950,13778,869,21152,6886,197,3273,599,475,27162,1050,1710,74,1325,5552,930,540,24373,1758,3976,2466,81.0\nMA,Massachusetts,521,379,1599,236,12059,1949,10747,816,1479,10686,3192,431,301,3907,1258,240,543,567,1004,3922,3102,N/A,1697,1381,164,1305,90,326,742,10735,6936,402,21207,3073,73,1670,435,916,6501,8715,1807,46,1216,4543,813,2549,3614,1943,184,901,52.0\nMI,Michigan,1820,688,4070,813,9600,2544,1203,135,384,12722,4477,572,753,12565,10583,877,1318,2330,1058,620,1467,2757,N/A,1976,1441,2720,461,727,1630,419,1910,518,5983,3860,558,13791,816,1240,4064,215,2029,270,4477,8387,722,191,3254,1988,527,4326,532.0\nMN,Minnesota,425,563,2920,472,5891,3431,554,64,274,3952,1889,248,551,8084,1662,5783,1252,499,369,189,1022,1424,3043,N/A,331,1821,710,1754,788,188,550,539,2989,1484,9571,2448,801,863,1253,95,329,4961,1523,5087,804,50,1692,3829,61,18372,487.0\nMS,Mississippi,6243,122,588,2189,3505,636,134,21,42,4654,3846,381,235,2790,1131,229,291,711,8929,108,766,888,1532,190,N/A,1266,264,445,670,48,1562,93,1664,1221,80,1092,600,276,1436,10,836,0,10020,6047,175,4,1192,991,590,1814,122.0\nMO,Missouri,2084,1133,2863,7543,8978,5113,890,256,257,6619,3411,857,732,22284,3443,5852,21394,1855,1737,498,1288,2290,4640,4194,2235,N/A,344,2821,1479,620,2482,781,4980,3510,579,3324,4811,1307,3802,308,1528,704,2892,11412,1353,644,2815,2697,393,4768,417.0\nMT,Montana,274,889,1266,340,4847,2937,378,0,13,1190,398,73,2294,872,538,278,321,84,246,238,131,382,740,3138,95,496,N/A,176,1060,228,126,382,1120,659,1333,457,302,1843,876,26,217,311,167,2460,1542,128,424,4868,70,944,2159.0\nNE,Nebraska,309,210,1497,457,3448,4216,710,20,24,1926,635,269,387,2087,425,6774,3381,377,227,214,651,440,1462,4172,265,2090,199,N/A,548,140,580,667,1516,705,552,449,1041,452,806,468,245,2323,602,4440,956,14,897,521,79,1256,888.0\nNV,Nevada,707,1071,6793,323,48530,4039,1614,145,101,5288,1626,4449,1879,3514,1042,930,538,637,683,230,919,1550,3928,3112,627,1286,830,552,N/A,336,2560,2341,6012,1626,223,1756,707,2676,3720,300,1087,443,979,5018,5385,112,1541,5629,117,1686,775.0\nNH,New Hampshire,193,215,638,169,1621,671,2232,100,257,2409,505,172,81,381,437,105,35,226,107,4020,663,20118,521,188,91,210,56,42,562,N/A,642,95,3182,1077,9,412,102,192,1639,906,348,49,241,1191,181,2433,781,244,126,196,0.0\nNJ,New Jersey,184,420,1089,118,7771,1495,3749,1666,817,10403,2512,443,138,1981,941,97,509,256,757,404,3770,3643,1437,498,227,668,114,273,515,495,N/A,231,55799,4160,155,1783,252,331,22050,376,1377,71,786,5301,173,191,3879,1005,399,481,56.0\nNM,New Mexico,526,899,5642,301,6121,5101,334,95,67,1839,816,532,416,908,420,351,296,230,606,566,722,818,1666,958,528,845,496,105,1311,764,1312,N/A,2442,767,79,954,1178,986,1728,164,864,39,832,15367,865,106,1268,1647,72,596,614.0\nNY,New York,1021,682,4279,786,24449,3725,14737,1151,3842,24288,7512,1245,432,6618,2066,1262,1063,1220,1894,1444,7211,16480,3999,1811,707,2530,256,344,1606,1856,33542,745,N/A,9522,329,5708,1293,1882,23040,1384,4723,199,3627,11908,867,3315,10005,3916,908,1893,118.0\nNC,North Carolina,3744,1393,4948,1094,18699,4720,11954,1770,2273,32304,19240,2458,579,7417,4539,1384,1805,3736,2591,2418,10707,12660,12228,5104,1576,3713,532,715,1492,2436,25272,1368,51124,N/A,704,9624,1758,1655,25816,1868,28214,635,8574,15217,1143,1476,30852,4658,3478,4166,443.0\nND,North Dakota,47,147,816,233,2211,738,120,31,4,941,612,84,405,500,101,858,177,46,377,22,118,82,1798,25044,265,643,1435,421,156,334,964,425,1784,149,N/A,260,420,348,840,14,250,2004,554,2326,277,0,209,1156,61,1294,458.0\nOH,Ohio,2178,633,3072,936,10819,3251,4532,399,867,14665,5109,662,271,10391,12000,1486,1267,14472,1183,934,3215,5948,27110,3508,1280,2905,491,742,1725,1498,8184,737,19988,6909,404,N/A,876,1550,30580,474,3436,206,5648,10934,1979,586,6459,2752,7821,4868,185.0\nOK,Oklahoma,568,579,2574,7642,8482,4947,392,166,127,4116,2271,751,399,2759,1248,819,6722,843,2083,206,754,1050,3910,1698,875,4381,420,685,818,350,1012,1867,3496,1852,209,1394,N/A,716,2012,262,822,273,1553,29345,846,274,1521,1770,200,1212,340.0\nOR,Oregon,304,2240,6653,615,42460,3707,1006,180,342,3507,1234,2889,5277,2445,848,626,1111,498,1106,804,961,2782,3210,2658,388,1148,2143,412,3205,598,1260,1356,5708,2109,327,1321,1040,N/A,3334,260,824,337,1013,5425,2960,694,2287,23944,130,1740,771.0\nPA,Pennsylvania,1613,587,2945,751,11018,3062,4905,6631,1834,16049,5163,900,438,4421,2528,527,919,1646,972,1272,18968,6196,2681,1887,930,1162,166,765,832,1433,41267,661,39412,7665,455,12091,1175,1415,N/A,1036,3359,408,2555,9448,1457,1123,10837,2558,4677,1933,196.0\nRI,Rhode Island,85,38,347,59,2075,349,3823,9,49,2857,375,23,86,450,93,130,50,80,88,401,410,11249,280,33,77,183,108,55,53,672,1371,26,2673,740,55,342,10,197,824,N/A,322,23,425,1166,220,176,969,568,23,147,0.0\nSC,South Carolina,2317,398,1619,759,7235,1803,8106,510,631,14872,15240,849,307,3989,2489,620,862,2430,1583,1262,5588,6156,5494,1606,937,1954,288,294,753,1648,10848,721,21570,30731,443,5782,682,586,15366,1692,N/A,271,5044,7873,871,498,8458,1909,1993,2888,147.0\nSD,South Dakota,127,140,579,153,2645,1101,10,0,0,692,427,87,155,822,388,2931,567,31,409,20,169,130,296,8504,77,361,462,2435,190,90,290,164,240,281,1867,197,127,215,164,226,503,N/A,338,1084,464,0,251,427,11,1278,1132.0\nTN,Tennessee,8366,926,2067,5597,9893,2685,3010,431,266,19587,15418,866,398,9370,5632,783,1794,12850,2424,1786,1671,4730,10696,2842,9828,3375,413,676,841,742,3586,620,11026,10091,174,6324,2028,1198,5672,400,4098,622,N/A,12576,1027,612,8456,2592,1267,2866,208.0\nTX,Texas,8168,3147,18929,13548,73914,21111,5406,1400,1257,35709,18053,5803,2343,22824,9137,5601,11699,5856,28818,2160,10263,13246,19392,13448,9632,15676,1766,3903,7322,2522,17960,17691,43418,15192,1793,11326,25272,4396,23056,1708,7600,1524,12343,N/A,7811,1096,18032,13650,1415,10928,1534.0\nUT,Utah,511,1094,7616,667,18513,4681,1612,86,280,2410,1670,1672,7753,1970,1106,494,582,628,473,192,918,1514,1758,1644,385,1409,1818,494,4769,440,1654,1142,4320,1477,814,1429,901,3412,3560,324,832,390,1186,6637,N/A,298,1755,5757,181,1964,1754.0\nVT,Vermont,71,142,134,0,1042,471,1256,17,217,1044,146,49,36,426,22,60,11,235,33,696,463,3737,287,118,0,53,25,25,145,2545,1135,117,3079,289,11,185,15,270,869,360,107,131,199,401,184,N/A,443,303,23,59,118.0\nVA,Virginia,2954,1148,2729,926,18867,4086,7264,1363,10194,20507,8847,2942,285,7503,2222,1275,1624,3189,2918,2016,27335,9126,8290,3450,1389,3238,306,912,1614,1644,17312,1700,31894,23440,206,6104,2537,605,26384,3012,8496,198,6545,15759,1833,1848,N/A,5164,5516,2828,171.0\nWA,Washington,997,5034,11956,941,49860,9053,3090,274,1192,9186,4450,4543,11368,6486,1487,761,2220,964,1342,1194,3310,7370,7680,6604,580,2590,5258,1090,3699,1648,6306,2030,13760,5132,1527,3046,3013,31245,6226,1090,2282,486,2613,15751,6168,914,6233,N/A,477,4664,790.0\nWV,West Virginia,237,73,159,123,773,583,814,244,354,2549,777,38,75,381,558,70,184,1405,167,410,5135,584,1164,268,157,198,17,78,63,166,1054,57,1372,2402,17,6566,130,100,10334,154,1313,35,1289,1160,191,52,6135,277,N/A,412,0.0\nWI,Wisconsin,598,423,2408,589,5604,2848,665,192,281,4540,1782,367,443,25954,2715,4106,826,1168,1019,332,592,785,5186,19050,623,2135,266,562,791,250,802,736,1896,1835,676,2143,872,968,1529,75,611,472,1553,4711,1247,69,1570,1891,257,N/A,439.0\nWY,Wyoming,471,271,672,252,2315,4951,176,59,7,426,173,39,1136,297,212,324,240,258,162,436,19,156,692,904,13,411,1219,1042,857,350,378,402,372,115,546,234,550,413,1094,46,127,743,135,2047,1798,4,444,923,103,448,N/A\n'

In [23]:
all_data = []
for i in range(len(states)):
    data = session.execute(f"select sum(movedout) from migration_data_2019 where state1_name = '{states[i]}' group by state1_name, state2_name order by state2_name").all()
    data_fixed = []
    for row in data:
        data_fixed.append(list(map(int, list(row))))
    data_fixed = [data_fixed[i][0] for i in range(len(data_fixed))]
    data_fixed[i] = 0
    all_data.append(data_fixed)

df = pd.DataFrame(data=all_data, index=[states_abbrev, states], columns=df_columns)
df.reset_index(inplace=True)
df = df.rename(columns={'level_0':'abbrev', 'level_1':'state'})
df = df.set_index(['abbrev','state'])
df['total_imm']=coming_df.sum()
df['total_emm']=df.sum(axis=1)
going = df.to_csv()

In [24]:
df.apply(pd.to_numeric)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 51 entries, ('AL', 'Alabama') to ('WY', 'Wyoming')
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alabama               51 non-null     int64
 1   Alaska                51 non-null     int64
 2   Arizona               51 non-null     int64
 3   Arkansas              51 non-null     int64
 4   California            51 non-null     int64
 5   Colorado              51 non-null     int64
 6   Connecticut           51 non-null     int64
 7   Delaware              51 non-null     int64
 8   District of Columbia  51 non-null     int64
 9   Florida               51 non-null     int64
 10  Georgia               51 non-null     int64
 11  Hawaii                51 non-null     int64
 12  Idaho                 51 non-null     int64
 13  Illinois              51 non-null     int64
 14  Indiana               51 non-null     int64
 15  Iowa                  51 non-null     int64
 16  Kansas                51 non-null     int64
 17  Kentucky              51 non-null     int64
 18  Louisiana             51 non-null     int64
 19  Maine                 51 non-null     int64
 20  Maryland              51 non-null     int64
 21  Massachusetts         51 non-null     int64
 22  Michigan              51 non-null     int64
 23  Minnesota             51 non-null     int64
 24  Mississippi           51 non-null     int64
 25  Missouri              51 non-null     int64
 26  Montana               51 non-null     int64
 27  Nebraska              51 non-null     int64
 28  Nevada                51 non-null     int64
 29  New Hampshire         51 non-null     int64
 30  New Jersey            51 non-null     int64
 31  New Mexico            51 non-null     int64
 32  New York              51 non-null     int64
 33  North Carolina        51 non-null     int64
 34  North Dakota          51 non-null     int64
 35  Ohio                  51 non-null     int64
 36  Oklahoma              51 non-null     int64
 37  Oregon                51 non-null     int64
 38  Pennsylvania          51 non-null     int64
 39  Rhode Island          51 non-null     int64
 40  South Carolina        51 non-null     int64
 41  South Dakota          51 non-null     int64
 42  Tennessee             51 non-null     int64
 43  Texas                 51 non-null     int64
 44  Utah                  51 non-null     int64
 45  Vermont               51 non-null     int64
 46  Virginia              51 non-null     int64
 47  Washington            51 non-null     int64
 48  West Virginia         51 non-null     int64
 49  Wisconsin             51 non-null     int64
 50  Wyoming               50 non-null     float64
 51  total_imm             0 non-null      float64
 52  total_emm             51 non-null     float64
dtypes: float64(3), int64(50)
memory usage: 26.2+ KB

,,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,total_imm,total_emm
abbrev,state,,,,,,,,,,,,,,,,,,,,,
AL,Alabama,0,578,1505,1103,4004,3113,1082,210,356,12391,...,8168,511,142,2954,997,237,1196,471.0,NaN,105742.0
AK,Alaska,658,0,2313,246,3986,1763,514,155,123,1990,...,3147,1094,284,1148,5034,73,846,271.0,NaN,47302.0
AZ,Arizona,1496,1016,0,972,31489,9771,906,127,407,7312,...,18929,7616,268,2729,11956,159,4816,672.0,NaN,202207.0
AR,Arkansas,897,185,1135,0,3276,1318,422,0,62,3876,...,13548,667,0,926,941,123,1178,252.0,NaN,74493.0
CA,California,3760,3032,61262,4605,0,28742,8086,529,3663,27384,...,73914,18513,2084,18867,49860,773,11208,2315.0,NaN,743502.0
CO,Colorado,1984,1396,12372,2574,20369,0,1526,152,680,11850,...,21111,4681,942,4086,9053,583,5696,4951.0,NaN,214203.0
CT,Connecticut,677,49,1363,103,5050,1783,0,537,1081,14610,...,2703,806,1256,3632,1545,407,665,88.0,NaN,106774.0
DE,Delaware,228,81,518,35,1117,193,770,0,231,3056,...,1400,86,34,1363,274,244,384,59.0,NaN,43159.0
DC,District of Columbia,229,38,305,91,4835,907,876,251,0,929,...,280,434,10194,1192,354,562,7,NaN,NaN,68461.0
FL,Florida,15510,1373,7825,2314,23312,13193,11612,1116,2015,0,...,35709,2410,2088,20507,9186,2549,9080,426.0,NaN,546573.0
GA,Georgia,21684,994,4080,1790,12759,6134,3066,213,1101,40412,...,18053,1670,292,8847,4450,777,3564,173.0,NaN,279440.0
HI,Hawaii,896,576,2419,185,12333,3332,1136,42,59,2635,...,5803,1672,98,2942,4543,38,734,39.0,NaN,70356.0
ID,Idaho,64,650,3071,180,4977,1630,26,6,36,1115,...,2343,7753,72,285,11368,75,886,1136.0,NaN,59333.0
IL,Illinois,2609,844,11995,2571,24170,10011,3000,563,1589,26387,...,22824,1970,852,7503,6486,381,51908,297.0,NaN,394083.0
IN,Indiana,1981,113,3673,1009,6244,2707,936,77,570,13469,...,9137,1106,44,2222,1487,558,5430,212.0,NaN,159416.0
IA,Iowa,587,186,3431,528,2792,2722,370,64,124,4192,...,5601,494,120,1275,761,70,8212,324.0,NaN,91363.0
KS,Kansas,993,793,3404,1315,4193,5978,224,91,22,2725,...,11699,582,22,1624,2220,184,1652,240.0,NaN,101926.0
KY,Kentucky,2031,429,1562,746,3184,2210,370,53,213,10617,...,5856,628,470,3189,964,1405,2336,258.0,NaN,111413.0
LA,Louisiana,2432,339,1540,3187,5150,2718,800,111,284,5849,...,28818,473,66,2918,1342,167,2038,162.0,NaN,105883.0
ME,Maine,72,116,375,44,2561,560,984,127,216,3738,...,1080,96,696,1008,597,205,332,218.0,NaN,32228.0
MD,Maryland,1009,323,1996,561,11564,3263,2792,7783,13611,16635,...,10263,918,926,27335,3310,5135,1184,19.0,NaN,222862.0
MA,Massachusetts,656,244,2798,215,15360,3113,10234,504,2294,18337,...,6623,757,3737,4563,3685,292,785,78.0,NaN,175609.0
MI,Michigan,2171,551,6536,980,10077,3508,636,135,765,21724,...,9696,879,287,4145,3840,582,5186,346.0,NaN,158630.0
MN,Minnesota,385,532,6531,614,7464,4786,438,32,352,6853,...,6724,822,118,1725,3302,134,19050,452.0,NaN,119986.0
MS,Mississippi,6978,117,844,3071,2725,860,46,68,199,4723,...,9632,385,0,1389,580,157,1246,13.0,NaN,78333.0
MO,Missouri,1349,594,4008,6714,7706,5517,1092,94,415,10370,...,15676,1409,106,3238,2590,198,4270,411.0,NaN,167636.0
MT,Montana,241,460,2086,259,2023,1580,14,43,27,852,...,1766,1818,50,306,5258,17,532,1219.0,NaN,35670.0
NE,Nebraska,345,184,1593,470,2948,4340,132,65,196,2095,...,3903,494,50,912,1090,78,1124,1042.0,NaN,55312.0
NV,Nevada,652,1270,7581,564,24350,3877,216,47,142,4740,...,7322,4769,290,1614,3699,63,1582,857.0,NaN,103450.0
NH,New Hampshire,104,93,613,55,1124,778,850,70,87,4883,...,1261,220,2545,822,824,83,250,175.0,NaN,42757.0
NJ,New Jersey,799,227,3560,314,12375,3332,4676,5261,2188,30144,...,8980,827,1135,8656,3153,527,802,189.0,NaN,227249.0
NM,New Mexico,527,478,7484,297,5115,6531,588,174,91,2918,...,17691,1142,234,1700,2030,57,1472,402.0,NaN,73836.0
NY,New York,2492,719,5097,374,36041,7363,25236,3037,4557,62912,...,21709,2160,3079,15947,6880,686,1896,186.0,NaN,447485.0
NC,North Carolina,4061,1555,4876,1424,13196,5266,3530,849,1384,25802,...,15192,1477,578,23440,5132,2402,3670,115.0,NaN,282778.0
ND,North Dakota,396,116,1810,112,1694,1435,110,140,23,1168,...,1793,814,22,206,1527,17,1352,546.0,NaN,45664.0
OH,Ohio,1874,216,4704,571,11441,4013,2730,155,1017,25842,...,11326,1429,370,6104,3046,6566,4286,234.0,NaN,247977.0
OK,Oklahoma,813,476,4076,6500,5555,4646,442,215,103,3959,...,25272,901,30,2537,3013,130,1744,550.0,NaN,101562.0
OR,Oregon,382,1285,9471,375,19943,3927,872,61,98,2724,...,4396,3412,540,605,31245,100,1936,413.0,NaN,122415.0
PA,Pennsylvania,1834,401,4727,1001,13494,4464,3126,11067,1945,30526,...,11528,1780,869,13192,3113,5167,1529,547.0,NaN,252985.0
RI,Rhode Island,259,70,232,0,2045,582,2828,90,200,3539,...,854,162,360,1506,545,77,75,23.0,NaN,31871.0
SC,South Carolina,2195,381,1234,313,5450,2005,2084,347,647,12975,...,7600,832,214,8496,2282,1313,1222,127.0,NaN,147149.0
SD,South Dakota,84,281,1490,75,1190,1438,274,4,33,1191,...,1524,390,262,198,486,35,944,743.0,NaN,34647.0
TN,Tennessee,9062,280,2136,4749,6214,3088,1134,157,797,15782,...,12343,1186,398,6545,2613,1289,3106,135.0,NaN,185096.0
TX,Texas,7611,2431,15342,15287,39343,25209,5810,745,1750,29051,...,0,6637,802,15759,15751,1160,9422,2047.0,NaN,507445.0
UT,Utah,748,694,8736,639,9146,3564,586,42,237,3620,...,7811,0,368,1833,6168,191,2494,1798.0,NaN,94415.0
VT,Vermont,36,49,464,9,817,690,466,120,141,2186,...,548,149,0,924,457,26,69,2.0,NaN,21638.0
VA,Virginia,3663,764,5019,1152,17578,6983,4272,1420,8598,27785,...,18032,1755,886,0,6233,6135,3140,444.0,NaN,307489.0
WA,Washington,1315,2974,15723,1034,32640,6417,1414,157,391,6952,...,13650,5757,606,5164,0,277,3782,923.0,NaN,218195.0
WV,West Virginia,396,60,412,88,748,480,336,186,260,3313,...,1415,181,46,5516,477,0,514,103.0,NaN,54037.0
WI,Wisconsin,851,562,5614,757,6687,4293,221,59,255,8522,...,5464,982,59,1414,2332,206,0,224.0,NaN,108888.0
WY,Wyoming,140,240,1135,386,1706,3646,94,0,15,519,...,1534,1754,236,171,790,0,878,0.0,NaN,28875.0

In [50]:
coming_df.apply(pd.to_numeric)

,,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
abbrev,state,,,,,,,,,,,,,,,,,,,,,
AL,Alabama,0,658,1496,897,3760,1984,1354,228,229,15510,...,84,9062,7611,748,72,3663,1315,396,1702,140.0
AK,Alaska,578,0,1016,185,3032,1396,98,81,38,1373,...,281,280,2431,694,98,764,2974,60,1124,240.0
AZ,Arizona,1505,2313,0,1135,61262,12372,2726,518,305,7825,...,1490,2136,15342,8736,928,5019,15723,412,11228,1135.0
AR,Arkansas,1103,246,972,0,4605,2574,206,35,91,2314,...,75,4749,15287,639,18,1152,1034,88,1514,386.0
CA,California,4004,3986,31489,3276,0,20369,10100,1117,4835,23312,...,1190,6214,39343,9146,1634,17578,32640,748,13374,1706.0
CO,Colorado,3113,1763,9771,1318,28742,0,3566,193,907,13193,...,1438,3088,25209,3564,1380,6983,6417,480,8586,3646.0
CT,Connecticut,541,257,453,211,4043,763,0,385,438,5806,...,137,567,2905,293,466,2136,707,168,221,47.0
DE,Delaware,210,155,127,0,529,152,1074,0,251,1116,...,4,157,745,42,240,1420,157,186,118,0.0
DC,District of Columbia,356,123,407,62,3663,680,2162,231,0,1101,...,797,1750,237,282,8598,391,260,510,15,NaN
FL,Florida,12391,1990,7312,3876,27384,11850,29220,3056,1498,0,...,1191,15782,29051,3620,4372,27785,6952,3313,17044,519.0
GA,Georgia,15525,1140,3135,2097,15226,3715,7584,781,929,46596,...,263,17387,19989,1358,542,11605,3197,874,5832,700.0
HI,Hawaii,660,601,1698,118,10805,1998,756,30,346,2394,...,22,713,3274,932,36,3040,3837,57,246,45.0
ID,Idaho,116,1060,3544,576,18365,2950,664,37,0,1380,...,126,446,2921,7440,202,892,10329,172,426,1800.0
IL,Illinois,1796,524,5239,1652,16294,3742,3538,125,1034,12452,...,434,5453,11523,1159,472,5623,3799,595,25996,278.0
IN,Indiana,1267,205,2537,979,7331,2342,1934,239,98,9233,...,189,4109,7102,656,332,2437,1798,312,5830,204.0
IA,Iowa,322,530,2150,640,3747,3479,202,18,116,3238,...,2011,1140,3415,345,146,857,1459,192,7526,220.0
KS,Kansas,649,284,2164,1440,5531,5583,506,132,127,3378,...,419,1329,8490,904,24,1588,1551,85,734,355.0
KY,Kentucky,2302,338,989,486,4253,1681,850,264,105,8286,...,103,11643,5612,790,64,3172,1300,2816,2552,146.0
LA,Louisiana,3019,446,568,2256,5137,1810,594,6,129,4611,...,102,1967,19554,379,78,1825,1162,257,904,103.0
ME,Maine,183,138,344,42,1346,704,1850,129,149,2681,...,20,327,1135,265,665,763,583,39,193,79.0
MD,Maryland,1184,329,2103,369,8683,2043,3420,6028,20581,10486,...,74,1325,5552,930,540,24373,1758,3976,2466,81.0
MA,Massachusetts,521,379,1599,236,12059,1949,10747,816,1479,10686,...,46,1216,4543,813,2549,3614,1943,184,901,52.0
MI,Michigan,1820,688,4070,813,9600,2544,1203,135,384,12722,...,270,4477,8387,722,191,3254,1988,527,4326,532.0
MN,Minnesota,425,563,2920,472,5891,3431,554,64,274,3952,...,4961,1523,5087,804,50,1692,3829,61,18372,487.0
MS,Mississippi,6243,122,588,2189,3505,636,134,21,42,4654,...,0,10020,6047,175,4,1192,991,590,1814,122.0
MO,Missouri,2084,1133,2863,7543,8978,5113,890,256,257,6619,...,704,2892,11412,1353,644,2815,2697,393,4768,417.0
MT,Montana,274,889,1266,340,4847,2937,378,0,13,1190,...,311,167,2460,1542,128,424,4868,70,944,2159.0
NE,Nebraska,309,210,1497,457,3448,4216,710,20,24,1926,...,2323,602,4440,956,14,897,521,79,1256,888.0
NV,Nevada,707,1071,6793,323,48530,4039,1614,145,101,5288,...,443,979,5018,5385,112,1541,5629,117,1686,775.0
NH,New Hampshire,193,215,638,169,1621,671,2232,100,257,2409,...,49,241,1191,181,2433,781,244,126,196,0.0
NJ,New Jersey,184,420,1089,118,7771,1495,3749,1666,817,10403,...,71,786,5301,173,191,3879,1005,399,481,56.0
NM,New Mexico,526,899,5642,301,6121,5101,334,95,67,1839,...,39,832,15367,865,106,1268,1647,72,596,614.0
NY,New York,1021,682,4279,786,24449,3725,14737,1151,3842,24288,...,199,3627,11908,867,3315,10005,3916,908,1893,118.0
NC,North Carolina,3744,1393,4948,1094,18699,4720,11954,1770,2273,32304,...,635,8574,15217,1143,1476,30852,4658,3478,4166,443.0
ND,North Dakota,47,147,816,233,2211,738,120,31,4,941,...,2004,554,2326,277,0,209,1156,61,1294,458.0
OH,Ohio,2178,633,3072,936,10819,3251,4532,399,867,14665,...,206,5648,10934,1979,586,6459,2752,7821,4868,185.0
OK,Oklahoma,568,579,2574,7642,8482,4947,392,166,127,4116,...,273,1553,29345,846,274,1521,1770,200,1212,340.0
OR,Oregon,304,2240,6653,615,42460,3707,1006,180,342,3507,...,337,1013,5425,2960,694,2287,23944,130,1740,771.0
PA,Pennsylvania,1613,587,2945,751,11018,3062,4905,6631,1834,16049,...,408,2555,9448,1457,1123,10837,2558,4677,1933,196.0
RI,Rhode Island,85,38,347,59,2075,349,3823,9,49,2857,...,23,425,1166,220,176,969,568,23,147,0.0
SC,South Carolina,2317,398,1619,759,7235,1803,8106,510,631,14872,...,271,5044,7873,871,498,8458,1909,1993,2888,147.0
SD,South Dakota,127,140,579,153,2645,1101,10,0,0,692,...,0,338,1084,464,0,251,427,11,1278,1132.0
TN,Tennessee,8366,926,2067,5597,9893,2685,3010,431,266,19587,...,622,0,12576,1027,612,8456,2592,1267,2866,208.0
TX,Texas,8168,3147,18929,13548,73914,21111,5406,1400,1257,35709,...,1524,12343,0,7811,1096,18032,13650,1415,10928,1534.0
UT,Utah,511,1094,7616,667,18513,4681,1612,86,280,2410,...,390,1186,6637,0,298,1755,5757,181,1964,1754.0
VT,Vermont,71,142,134,0,1042,471,1256,17,217,1044,...,131,199,401,184,0,443,303,23,59,118.0
VA,Virginia,2954,1148,2729,926,18867,4086,7264,1363,10194,20507,...,198,6545,15759,1833,1848,0,5164,5516,2828,171.0
WA,Washington,997,5034,11956,941,49860,9053,3090,274,1192,9186,...,486,2613,15751,6168,914,6233,0,477,4664,790.0
WV,West Virginia,237,73,159,123,773,583,814,244,354,2549,...,35,1289,1160,191,52,6135,277,0,412,0.0
WI,Wisconsin,598,423,2408,589,5604,2848,665,192,281,4540,...,472,1553,4711,1247,69,1570,1891,257,0,439.0
WY,Wyoming,471,271,672,252,2315,4951,176,59,7,426,...,743,135,2047,1798,4,444,923,103,448,0.0

In [51]:
coming_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 51 entries, ('AL', 'Alabama') to ('WY', 'Wyoming')
Data columns (total 51 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alabama               51 non-null     int64
 1   Alaska                51 non-null     int64
 2   Arizona               51 non-null     int64
 3   Arkansas              51 non-null     int64
 4   California            51 non-null     int64
 5   Colorado              51 non-null     int64
 6   Connecticut           51 non-null     int64
 7   Delaware              51 non-null     int64
 8   District of Columbia  51 non-null     int64
 9   Florida               51 non-null     int64
 10  Georgia               51 non-null     int64
 11  Hawaii                51 non-null     int64
 12  Idaho                 51 non-null     int64
 13  Illinois              51 non-null     int64
 14  Indiana               51 non-null     int64
 15  Iowa                  51 non-null     int64
 16  Kansas                51 non-null     int64
 17  Kentucky              51 non-null     int64
 18  Louisiana             51 non-null     int64
 19  Maine                 51 non-null     int64
 20  Maryland              51 non-null     int64
 21  Massachusetts         51 non-null     int64
 22  Michigan              51 non-null     int64
 23  Minnesota             51 non-null     int64
 24  Mississippi           51 non-null     int64
 25  Missouri              51 non-null     int64
 26  Montana               51 non-null     int64
 27  Nebraska              51 non-null     int64
 28  Nevada                51 non-null     int64
 29  New Hampshire         51 non-null     int64
 30  New Jersey            51 non-null     int64
 31  New Mexico            51 non-null     int64
 32  New York              51 non-null     int64
 33  North Carolina        51 non-null     int64
 34  North Dakota          51 non-null     int64
 35  Ohio                  51 non-null     int64
 36  Oklahoma              51 non-null     int64
 37  Oregon                51 non-null     int64
 38  Pennsylvania          51 non-null     int64
 39  Rhode Island          51 non-null     int64
 40  South Carolina        51 non-null     int64
 41  South Dakota          51 non-null     int64
 42  Tennessee             51 non-null     int64
 43  Texas                 51 non-null     int64
 44  Utah                  51 non-null     int64
 45  Vermont               51 non-null     int64
 46  Virginia              51 non-null     int64
 47  Washington            51 non-null     int64
 48  West Virginia         51 non-null     int64
 49  Wisconsin             51 non-null     int64
 50  Wyoming               50 non-null     float64
dtypes: float64(1), int64(50)
memory usage: 25.4+ KB

In [25]:
all_data = []
for i in range(len(states)):
    data = session.execute(f"select sum(movedin) from migration_data_2019 where state1_name = '{states[i]}' group by state1_name, state2_name order by state2_name").all()
    data_fixed = []
    for row in data:
        data_fixed.append(list(map(int, list(row))))
    data_fixed = [data_fixed[i][0] for i in range(len(data_fixed))]
    all_data.append(data_fixed)

df = pd.DataFrame(data=all_data, index=[states_abbrev, states], columns=df_columns)
df.reset_index(inplace=True)
df = df.rename(columns={'level_0':'abbrev', 'level_1':'state'})
df = df.set_index(['abbrev','state'])
coming_df = df
coming_df = coming_df.apply(pd.to_numeric)
for i in range(len(states)):
    df.iloc[i,i] = "N/A"
coming = df.to_csv(path_or_buf="coming.csv")

In [26]:
df

,,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
abbrev,state,,,,,,,,,,,,,,,,,,,,,
AL,Alabama,N/A,658,1496,897,3760,1984,1354,228,229,15510,...,84,9062,7611,748,72,3663,1315,396,1702,140.0
AK,Alaska,578,N/A,1016,185,3032,1396,98,81,38,1373,...,281,280,2431,694,98,764,2974,60,1124,240.0
AZ,Arizona,1505,2313,N/A,1135,61262,12372,2726,518,305,7825,...,1490,2136,15342,8736,928,5019,15723,412,11228,1135.0
AR,Arkansas,1103,246,972,N/A,4605,2574,206,35,91,2314,...,75,4749,15287,639,18,1152,1034,88,1514,386.0
CA,California,4004,3986,31489,3276,N/A,20369,10100,1117,4835,23312,...,1190,6214,39343,9146,1634,17578,32640,748,13374,1706.0
CO,Colorado,3113,1763,9771,1318,28742,N/A,3566,193,907,13193,...,1438,3088,25209,3564,1380,6983,6417,480,8586,3646.0
CT,Connecticut,541,257,453,211,4043,763,N/A,385,438,5806,...,137,567,2905,293,466,2136,707,168,221,47.0
DE,Delaware,210,155,127,0,529,152,1074,N/A,251,1116,...,4,157,745,42,240,1420,157,186,118,0.0
DC,District of Columbia,356,123,407,62,3663,680,2162,231,N/A,1101,...,797,1750,237,282,8598,391,260,510,15,NaN
FL,Florida,12391,1990,7312,3876,27384,11850,29220,3056,1498,N/A,...,1191,15782,29051,3620,4372,27785,6952,3313,17044,519.0
GA,Georgia,15525,1140,3135,2097,15226,3715,7584,781,929,46596,...,263,17387,19989,1358,542,11605,3197,874,5832,700.0
HI,Hawaii,660,601,1698,118,10805,1998,756,30,346,2394,...,22,713,3274,932,36,3040,3837,57,246,45.0
ID,Idaho,116,1060,3544,576,18365,2950,664,37,0,1380,...,126,446,2921,7440,202,892,10329,172,426,1800.0
IL,Illinois,1796,524,5239,1652,16294,3742,3538,125,1034,12452,...,434,5453,11523,1159,472,5623,3799,595,25996,278.0
IN,Indiana,1267,205,2537,979,7331,2342,1934,239,98,9233,...,189,4109,7102,656,332,2437,1798,312,5830,204.0
IA,Iowa,322,530,2150,640,3747,3479,202,18,116,3238,...,2011,1140,3415,345,146,857,1459,192,7526,220.0
KS,Kansas,649,284,2164,1440,5531,5583,506,132,127,3378,...,419,1329,8490,904,24,1588,1551,85,734,355.0
KY,Kentucky,2302,338,989,486,4253,1681,850,264,105,8286,...,103,11643,5612,790,64,3172,1300,2816,2552,146.0
LA,Louisiana,3019,446,568,2256,5137,1810,594,6,129,4611,...,102,1967,19554,379,78,1825,1162,257,904,103.0
ME,Maine,183,138,344,42,1346,704,1850,129,149,2681,...,20,327,1135,265,665,763,583,39,193,79.0
MD,Maryland,1184,329,2103,369,8683,2043,3420,6028,20581,10486,...,74,1325,5552,930,540,24373,1758,3976,2466,81.0
MA,Massachusetts,521,379,1599,236,12059,1949,10747,816,1479,10686,...,46,1216,4543,813,2549,3614,1943,184,901,52.0
MI,Michigan,1820,688,4070,813,9600,2544,1203,135,384,12722,...,270,4477,8387,722,191,3254,1988,527,4326,532.0
MN,Minnesota,425,563,2920,472,5891,3431,554,64,274,3952,...,4961,1523,5087,804,50,1692,3829,61,18372,487.0
MS,Mississippi,6243,122,588,2189,3505,636,134,21,42,4654,...,0,10020,6047,175,4,1192,991,590,1814,122.0
MO,Missouri,2084,1133,2863,7543,8978,5113,890,256,257,6619,...,704,2892,11412,1353,644,2815,2697,393,4768,417.0
MT,Montana,274,889,1266,340,4847,2937,378,0,13,1190,...,311,167,2460,1542,128,424,4868,70,944,2159.0
NE,Nebraska,309,210,1497,457,3448,4216,710,20,24,1926,...,2323,602,4440,956,14,897,521,79,1256,888.0
NV,Nevada,707,1071,6793,323,48530,4039,1614,145,101,5288,...,443,979,5018,5385,112,1541,5629,117,1686,775.0
NH,New Hampshire,193,215,638,169,1621,671,2232,100,257,2409,...,49,241,1191,181,2433,781,244,126,196,0.0
NJ,New Jersey,184,420,1089,118,7771,1495,3749,1666,817,10403,...,71,786,5301,173,191,3879,1005,399,481,56.0
NM,New Mexico,526,899,5642,301,6121,5101,334,95,67,1839,...,39,832,15367,865,106,1268,1647,72,596,614.0
NY,New York,1021,682,4279,786,24449,3725,14737,1151,3842,24288,...,199,3627,11908,867,3315,10005,3916,908,1893,118.0
NC,North Carolina,3744,1393,4948,1094,18699,4720,11954,1770,2273,32304,...,635,8574,15217,1143,1476,30852,4658,3478,4166,443.0
ND,North Dakota,47,147,816,233,2211,738,120,31,4,941,...,2004,554,2326,277,0,209,1156,61,1294,458.0
OH,Ohio,2178,633,3072,936,10819,3251,4532,399,867,14665,...,206,5648,10934,1979,586,6459,2752,7821,4868,185.0
OK,Oklahoma,568,579,2574,7642,8482,4947,392,166,127,4116,...,273,1553,29345,846,274,1521,1770,200,1212,340.0
OR,Oregon,304,2240,6653,615,42460,3707,1006,180,342,3507,...,337,1013,5425,2960,694,2287,23944,130,1740,771.0
PA,Pennsylvania,1613,587,2945,751,11018,3062,4905,6631,1834,16049,...,408,2555,9448,1457,1123,10837,2558,4677,1933,196.0
RI,Rhode Island,85,38,347,59,2075,349,3823,9,49,2857,...,23,425,1166,220,176,969,568,23,147,0.0
SC,South Carolina,2317,398,1619,759,7235,1803,8106,510,631,14872,...,271,5044,7873,871,498,8458,1909,1993,2888,147.0
SD,South Dakota,127,140,579,153,2645,1101,10,0,0,692,...,N/A,338,1084,464,0,251,427,11,1278,1132.0
TN,Tennessee,8366,926,2067,5597,9893,2685,3010,431,266,19587,...,622,N/A,12576,1027,612,8456,2592,1267,2866,208.0
TX,Texas,8168,3147,18929,13548,73914,21111,5406,1400,1257,35709,...,1524,12343,N/A,7811,1096,18032,13650,1415,10928,1534.0
UT,Utah,511,1094,7616,667,18513,4681,1612,86,280,2410,...,390,1186,6637,N/A,298,1755,5757,181,1964,1754.0
VT,Vermont,71,142,134,0,1042,471,1256,17,217,1044,...,131,199,401,184,N/A,443,303,23,59,118.0
VA,Virginia,2954,1148,2729,926,18867,4086,7264,1363,10194,20507,...,198,6545,15759,1833,1848,N/A,5164,5516,2828,171.0
WA,Washington,997,5034,11956,941,49860,9053,3090,274,1192,9186,...,486,2613,15751,6168,914,6233,N/A,477,4664,790.0
WV,West Virginia,237,73,159,123,773,583,814,244,354,2549,...,35,1289,1160,191,52,6135,277,N/A,412,0.0
WI,Wisconsin,598,423,2408,589,5604,2848,665,192,281,4540,...,472,1553,4711,1247,69,1570,1891,257,N/A,439.0
WY,Wyoming,471,271,672,252,2315,4951,176,59,7,426,...,743,135,2047,1798,4,444,923,103,448,N/A

In [63]:
all_data = []
for i in range(len(states)):
    data = session.execute(f"select sum(movedin) from migration_data_2019 where state1_name = '{states[i]}' group by state1_name, state2_name order by state2_name").all()
    data_fixed = []
    for row in data:
        data_fixed.append(list(map(int, list(row))))
    data_fixed = [data_fixed[i][0] for i in range(len(data_fixed))]
    all_data.append(data_fixed)

df = pd.DataFrame(data=all_data, index=[states_abbrev, states], columns=df_columns)
df.reset_index(inplace=True)
df = df.rename(columns={'level_0':'abbrev', 'level_1':'state'})
df = df.set_index(['abbrev','state'])
coming_df = df
coming_df = coming_df.apply(pd.to_numeric)
for i in range(len(states)):
    coming_df.iloc[i,i] = 0 
for i in range(len(states)):
    df.iloc[i,i] = "N/A"
df.fillna(0, inplace=True)
coming = df.to_csv()

In [78]:
all_data = []
for i in range(len(states)):
    data = session.execute(f"select sum(movedout) from migration_data_2019 where state1_name = '{states[i]}' group by state1_name, state2_name order by state2_name").all()
    data_fixed = []
    for row in data:
        data_fixed.append(list(map(int, list(row))))
    data_fixed = [data_fixed[i][0] for i in range(len(data_fixed))]
    all_data.append(data_fixed)

df = pd.DataFrame(data=all_data, index=[states_abbrev, states], columns=df_columns)
df.reset_index(inplace=True)
df = df.rename(columns={'level_0':'abbrev', 'level_1':'state'})
df = df.set_index(['abbrev','state'])
new_df = df
new_df = new_df.apply(pd.to_numeric)
for i in range(len(states)):
    new_df.iloc[i,i] = 0 
df['total_imm']=coming_df.sum(axis=1)
df['total_emm']=new_df.sum(axis=1)
going_df = df
for i in range(len(states)):
    df.iloc[i,i] = "N/A"
df.fillna(0, inplace=True)
going = df.to_csv()

In [79]:
going_df

,,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,total_imm,total_emm
abbrev,state,,,,,,,,,,,,,,,,,,,,,
AL,Alabama,N/A,578,1505,1103,4004,3113,1082,210,356,12391,...,8168,511,142,2954,997,237,1196,471.0,122552.0,105742.0
AK,Alaska,658,N/A,2313,246,3986,1763,514,155,123,1990,...,3147,1094,284,1148,5034,73,846,271.0,35028.0,47302.0
AZ,Arizona,1496,1016,N/A,972,31489,9771,906,127,407,7312,...,18929,7616,268,2729,11956,159,4816,672.0,299986.0,202207.0
AR,Arkansas,897,185,1135,N/A,3276,1318,422,0,62,3876,...,13548,667,0,926,941,123,1178,252.0,77024.0,74493.0
CA,California,3760,3032,61262,4605,N/A,28742,8086,529,3663,27384,...,73914,18513,2084,18867,49860,773,11208,2315.0,616655.0,743502.0
CO,Colorado,1984,1396,12372,2574,20369,N/A,1526,152,680,11850,...,21111,4681,942,4086,9053,583,5696,4951.0,265031.0,214203.0
CT,Connecticut,677,49,1363,103,5050,1783,N/A,537,1081,14610,...,2703,806,1256,3632,1545,407,665,88.0,81840.0,106774.0
DE,Delaware,228,81,518,35,1117,193,770,N/A,231,3056,...,1400,86,34,1363,274,244,384,59.0,58590.0,43159.0
DC,District of Columbia,229,38,305,91,4835,907,876,251,N/A,929,...,280,434,10194,1192,354,562,7,0,67716.0,68461.0
FL,Florida,15510,1373,7825,2314,23312,13193,11612,1116,2015,N/A,...,35709,2410,2088,20507,9186,2549,9080,426.0,795722.0,546573.0
GA,Georgia,21684,994,4080,1790,12759,6134,3066,213,1101,40412,...,18053,1670,292,8847,4450,777,3564,173.0,332327.0,279440.0
HI,Hawaii,896,576,2419,185,12333,3332,1136,42,59,2635,...,5803,1672,98,2942,4543,38,734,39.0,56309.0,70356.0
ID,Idaho,64,650,3071,180,4977,1630,26,6,36,1115,...,2343,7753,72,285,11368,75,886,1136.0,77047.0,59333.0
IL,Illinois,2609,844,11995,2571,24170,10011,3000,563,1589,26387,...,22824,1970,852,7503,6486,381,51908,297.0,250096.0,394083.0
IN,Indiana,1981,113,3673,1009,6244,2707,936,77,570,13469,...,9137,1106,44,2222,1487,558,5430,212.0,169356.0,159416.0
IA,Iowa,587,186,3431,528,2792,2722,370,64,124,4192,...,5601,494,120,1275,761,70,8212,324.0,91166.0,91363.0
KS,Kansas,993,793,3404,1315,4193,5978,224,91,22,2725,...,11699,582,22,1624,2220,184,1652,240.0,97283.0,101926.0
KY,Kentucky,2031,429,1562,746,3184,2210,370,53,213,10617,...,5856,628,470,3189,964,1405,2336,258.0,120637.0,111413.0
LA,Louisiana,2432,339,1540,3187,5150,2718,800,111,284,5849,...,28818,473,66,2918,1342,167,2038,162.0,86204.0,105883.0
ME,Maine,72,116,375,44,2561,560,984,127,216,3738,...,1080,96,696,1008,597,205,332,218.0,34369.0,32228.0
MD,Maryland,1009,323,1996,561,11564,3263,2792,7783,13611,16635,...,10263,918,926,27335,3310,5135,1184,19.0,199480.0,222862.0
MA,Massachusetts,656,244,2798,215,15360,3113,10234,504,2294,18337,...,6623,757,3737,4563,3685,292,785,78.0,142974.0,175609.0
MI,Michigan,2171,551,6536,980,10077,3508,636,135,765,21724,...,9696,879,287,4145,3840,582,5186,346.0,142388.0,158630.0
MN,Minnesota,385,532,6531,614,7464,4786,438,32,352,6853,...,6724,822,118,1725,3302,134,19050,452.0,107941.0,119986.0
MS,Mississippi,6978,117,844,3071,2725,860,46,68,199,4723,...,9632,385,0,1389,580,157,1246,13.0,72679.0,78333.0
MO,Missouri,1349,594,4008,6714,7706,5517,1092,94,415,10370,...,15676,1409,106,3238,2590,198,4270,411.0,173217.0,167636.0
MT,Montana,241,460,2086,259,2023,1580,14,43,27,852,...,1766,1818,50,306,5258,17,532,1219.0,44336.0,35670.0
NE,Nebraska,345,184,1593,470,2948,4340,132,65,196,2095,...,3903,494,50,912,1090,78,1124,1042.0,57017.0,55312.0
NV,Nevada,652,1270,7581,564,24350,3877,216,47,142,4740,...,7322,4769,290,1614,3699,63,1582,857.0,141972.0,103450.0
NH,New Hampshire,104,93,613,55,1124,778,850,70,87,4883,...,1261,220,2545,822,824,83,250,175.0,51071.0,42757.0
NJ,New Jersey,799,227,3560,314,12375,3332,4676,5261,2188,30144,...,8980,827,1135,8656,3153,527,802,189.0,146246.0,227249.0
NM,New Mexico,527,478,7484,297,5115,6531,588,174,91,2918,...,17691,1142,234,1700,2030,57,1472,402.0,66159.0,73836.0
NY,New York,2492,719,5097,374,36041,7363,25236,3037,4557,62912,...,21709,2160,3079,15947,6880,686,1896,186.0,259440.0,447485.0
NC,North Carolina,4061,1555,4876,1424,13196,5266,3530,849,1384,25802,...,15192,1477,578,23440,5132,2402,3670,115.0,398274.0,282778.0
ND,North Dakota,396,116,1810,112,1694,1435,110,140,23,1168,...,1793,814,22,206,1527,17,1352,546.0,52559.0,45664.0
OH,Ohio,1874,216,4704,571,11441,4013,2730,155,1017,25842,...,11326,1429,370,6104,3046,6566,4286,234.0,252125.0,247977.0
OK,Oklahoma,813,476,4076,6500,5555,4646,442,215,103,3959,...,25272,901,30,2537,3013,130,1744,550.0,113611.0,101562.0
OR,Oregon,382,1285,9471,375,19943,3927,872,61,98,2724,...,4396,3412,540,605,31245,100,1936,413.0,152197.0,122415.0
PA,Pennsylvania,1834,401,4727,1001,13494,4464,3126,11067,1945,30526,...,11528,1780,869,13192,3113,5167,1529,547.0,246929.0,252985.0
RI,Rhode Island,259,70,232,0,2045,582,2828,90,200,3539,...,854,162,360,1506,545,77,75,23.0,34864.0,31871.0
SC,South Carolina,2195,381,1234,313,5450,2005,2084,347,647,12975,...,7600,832,214,8496,2282,1313,1222,127.0,210972.0,147149.0
SD,South Dakota,84,281,1490,75,1190,1438,274,4,33,1191,...,1524,390,262,198,486,35,944,743.0,33257.0,34647.0
TN,Tennessee,9062,280,2136,4749,6214,3088,1134,157,797,15782,...,12343,1186,398,6545,2613,1289,3106,135.0,215406.0,185096.0
TX,Texas,7611,2431,15342,15287,39343,25209,5810,745,1750,29051,...,N/A,6637,802,15759,15751,1160,9422,2047.0,629798.0,507445.0
UT,Utah,748,694,8736,639,9146,3564,586,42,237,3620,...,7811,N/A,368,1833,6168,191,2494,1798.0,108946.0,94415.0
VT,Vermont,36,49,464,9,817,690,466,120,141,2186,...,548,149,N/A,924,457,26,69,2.0,21804.0,21638.0
VA,Virginia,3663,764,5019,1152,17578,6983,4272,1420,8598,27785,...,18032,1755,886,N/A,6233,6135,3140,444.0,321715.0,307489.0
WA,Washington,1315,2974,15723,1034,32640,6417,1414,157,391,6952,...,13650,5757,606,5164,N/A,277,3782,923.0,279980.0,218195.0
WV,West Virginia,396,60,412,88,748,480,336,186,260,3313,...,1415,181,46,5516,477,N/A,514,103.0,50854.0,54037.0
WI,Wisconsin,851,562,5614,757,6687,4293,221,59,255,8522,...,5464,982,59,1414,2332,206,N/A,224.0,111452.0,108888.0
WY,Wyoming,140,240,1135,386,1706,3646,94,0,15,519,...,1534,1754,236,171,790,0,878,N/A,29462.0,28875.0